/node_modules
/public/hot
/public/css/
/public/js/
/public/storage
/storage/*.key
/storage/media-library/
/docker/*.env
/vendor
/meili_data
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store