# docker-compose.yml
PROJECT_ROOT=codebase

# APACHE
APACHE_DOCUMENT_ROOT=/var/www/html/
APACHE_SERVER_NAME=localhost
APACHE_SERVER_ALIAS=localhost

# NGINX
NGINX_DOCUMENT_ROOT=/var/www/html
NGINX_SERVER_NAME=localhost

# PHP
PHP_DATE_TIMEZONE=UTC

PHP_ERROR_REPORTING=E_ALL

# Xdebug v2
# PHP_XDEBUG_DEFAULT_ENABLE=1
# PHP_XDEBUG_REMOTE_AUTOSTART=1
# PHP_XDEBUG_REMOTE_HOST=127.0.0.1
# PHP_XDEBUG_REMOTE_PORT=9001
# PHP_XDEBUG_REMOTE_ENABLE=1
# PHP_XDEBUG_IDE_KEY=DOCKER_XDEBUG
# PHP_XDEBUG_PROFILER_ENABLE=1
# PHP_XDEBUG_PROFILER_OUTPUT_DIR=/usr/local/php/logs

# Xdebug v3
# @see https://stackoverflow.com/questions/64776338/xdebug-3-the-setting-xdebug-remote-has-been-renamed-see-the-upgrading-g
# @see https://xdebug.org/docs/upgrade_guide
PHP_XDEBUG_MODE=develop,debug
PHP_XDEBUG_CLIENT_HOST=host.docker.internal
PHP_XDEBUG_CLIENT_PORT=9003
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_IDE_KEY=DOCKER_XDEBUG